<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">{{title}}</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Describe what Nicebreaker is.</p>
    {{#if session.user}}
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-lg shadow-sm px-2" href="/mycards">My cards</a>
    </div>
    {{/if}}
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col d-flex flex-column align-items-center">
      <div class="card shadow vw-40">
        <div class="card-body">
          {{#if session.user}}
          <div class="d-flex justify-content-end">
            <form action="/mycards/bookmark/{{randomCard._id}}" method="post">
            <button type="submit" class="btn shadow-sm">
              <img class="svg" src="/images/bookmark.svg" alt="bookmark" id="bookmark-img" />
            </button>
            </form>
          </div>
          {{/if}}
          <p class="card-text text-center user-select-none p-3 m-1">{{randomCard.cardText}}</p>
        </div>
      </div>
      <form action="/" method="get">
        <button class="btn btn-lg shadow-sm mt-4" type="submit"><img class="svg" src="../images/arrow-clockwise.svg"
            </button>
      </form>

    </div>
  </div>
</div>