<div class="container mt-5">
  <h1>{{title}}</h1>
  <p>Welcome to Nicebreaker!</p>
</div>
<div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <a href="/" class="card-link">
        <img src="/images/bookmark.svg" alt="" />
      </a>
      <p class="card-text">Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>