<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>The card has been added to your My Cards collection.</p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <a href="/mycards" class="btn btn-lg shadow-sm" type="submit">My cards
        </a>
      </div>
    </div>
  </div>
</div>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">{{title}}</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Describe what Nicebreaker is.</p>
    {{#if session.user}}
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-lg shadow-sm px-2" href="/mycards">My cards</a>
    </div>
    {{/if}}
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col d-flex flex-column align-items-center">
      <div class="card shadow vw-40">
        <div class="card-body">
          {{#if session.user}}
          <div class="d-flex justify-content-end">
            <form action="/mycards/bookmark/{{randomCard._id}}" method="post">
              <button type="submit" class="btn shadow-sm">
                <img class="svg" src="/images/bookmark-plus.svg" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  alt="bookmark" id="bookmark-img" />
              </button>
            </form>
          </div>
          {{/if}}
          <p class="card-text text-center user-select-none p-3 m-1">{{randomCard.cardText}}</p>
        </div>
      </div>
      <form action="/" method="get">
        <button class="btn btn-lg shadow-sm mt-4" type="submit"><img class="svg" src="../images/arrow-clockwise.svg"
            </button>
      </form>

    </div>
  </div>
  {{#if errorMessage}}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol
        id="exclamation-triangle-fill"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        ></path>
      </symbol>
    </svg>
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <svg
        class="bi flex-shrink-0 me-2"
        width="24"
        height="24"
        role="img"
        aria-label="Warning:"
      ><use xlink:href="#exclamation-triangle-fill"></use></svg>
      <div>
        {{errorMessage}}
      </div>
    </div>
  {{/if}}
</div>