<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and
      make up the bulk of the card's content.</p>
    <a href="/" class="card-link">
      <img src="/images/pencil.svg" alt="" />
    </a>
    <a href="#" class="card-link"><img src="/images/trash3.svg" alt="" /></a>
  </div>
</div>