<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete your card?</p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <form class="" action="/mycards/{{this._id}}/delete" method="POST">
          <button class="btn btn-lg shadow-sm" type="submit"><img src="/images/trash3.svg" alt="" class="svg" />
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">My cards</li>
  </ol>
</nav>

<section class="py-3 text-center container">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">My cards</h1>
      <p class="lead text-muted">Create and sort your cards here. If you need inspiration, head to the home page to copy
        some of our public cards!</p>
      <p>
        <a href="/mycards/new" class="btn shadow-sm my-2">Create new card</a>
        <a href="/" class="btn shadow-sm my-2">Home</a>
      </p>
    </div>
  </div>
</section>

<div class="sort-box p-3 mb-3">
  <h4>Sort your cards by:</h4>
  <form action="/mycards/filter" method="get">
    <div class="d-flex justify-content-evenly mb-3">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="sfw" name="SFW" {{#if
          filter.SFW}}checked{{/if}}>
        <label class="form-check-label" for="sfw">SFW</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="dinner-table" name="dinnerTable" {{#if
          filter.dinnerTable}}checked{{/if}}>
        <label class="form-check-label" for="dinner-table">Dinner table</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="night-out" name="nightOut" {{#if
          filter.nightOut}}checked{{/if}}>
        <label class="form-check-label" for="night-out">Night out</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="first-date" name="firstDate" {{#if
          filter.firstDate}}checked{{/if}}>
        <label class="form-check-label" for="first-date">First date</label>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-sm shadow-sm me-3" type="submit">Filter</button>
      <a href="/mycards" class="btn btn-sm shadow-sm">Reset</a>
    </div>
  </form>
</div>
<div class="container mb-5">
  <div class="row row-cols-xxl-4 g-4">
    {{#each userCards}}
    {{> card this}}
    {{/each}}
  </div>
  {{#if errorMessage}}
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
      </path>
    </symbol>
  </svg>
  <div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
      <use xlink:href="#exclamation-triangle-fill"></use>
    </svg>
    <div>
      {{errorMessage}}
    </div>
  </div>
  {{/if}}
</div>