<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete your card?</p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <form class="" action="/mycards/{{this._id}}/delete" method="POST">
          <button class="btn btn-lg shadow-sm" type="submit"><img src="/images/trash3.svg" alt="" class="svg" />
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">My cards</li>
  </ol>
</nav>

<section class="py-3 text-center container">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">My cards</h1>
      <p class="lead text-muted">Create and sort your cards here. If you need inspiration, head to the home page to copy
        some of our public cards!</p>
      <p>
        <a href="/mycards/new" class="btn shadow-sm my-2">Create new card</a>
        <a href="/" class="btn shadow-sm my-2">Home</a>
      </p>
    </div>
  </div>
</section>

<div class="sort-box p-2 mb-3">
  <h4>Sort your cards by:</h4>
  <form action="/mycards/filter" method="get">
    <div class="d-flex justify-content-evenly mb-3">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="sfw" name="SFW" {{#if
          filter.SFW}}checked{{/if}}>
        <label class="form-check-label" for="sfw">SFW</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="dinner-table" name="dinnerTable" {{#if
          filter.dinnerTable}}checked{{/if}}>
        <label class="form-check-label" for="dinner-table">Dinner table</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="night-out" name="nightOut" {{#if
          filter.nightOut}}checked{{/if}}>
        <label class="form-check-label" for="night-out">Night out</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="first-date" name="firstDate" {{#if
          filter.firstDate}}checked{{/if}}>
        <label class="form-check-label" for="first-date">First date</label>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-sm shadow-sm me-3" type="submit">Filter</button>
      <a href="/mycards" class="btn btn-sm shadow-sm">Reset</a>
    </div>
  </form>
</div>
<div class="container mb-5">
  <div class="row row-cols-xxl-4 g-4">
    {{#each userCards}}
    {{> card this}}
    {{/each}}
  </div>
</div>