@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat+Alternates:wght@500;700&family=Nunito&display=swap");

* {
  font-family: "Nunito", serif;
  /* border: 1px solid red; */
}

body {
  background-color: #f9f9f9;
}

h1 {
  font-size: 5rem;
}

.svg {
  filter: invert(99%) sepia(5%) saturate(287%) hue-rotate(354deg)
    brightness(118%) contrast(95%);
}

.card {
  background-color: #cdf0ea;
}

.card-text-middle {
  font-family: "Lora", serif;
}

.btn {
  background-color: #beaee2;
  color: #f9f9f9;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover,
.btn:focus {
  background-color: #7d7297;
  color: #f9f9f9;
}

.navbar {
  background-color: #f7dbf0;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-check-input:checked,
.form-check-input:active,
.form-check-input::before {
  background-color: #beaee2;
  color: #7d7297;
  box-shadow: none;
  border: 1px solid #7d7297;
}

.sort-box {
  border: 2px solid #beaee2;
}
