@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat+Alternates:wght@500;700&family=Nunito&display=swap");

* {
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  background-color: #f9f9f9;
}

.card {
  background-color: #cdf0ea;
}

.card-text {
  font-family: "Lora", serif;
}

.btn {
  background-color: #beaee2;
  color: #f9f9f9;
}

.btn:hover,
.btn:focus {
  background-color: #7d7297;
  color: #f9f9f9;
}

.navbar {
  background-color: #f7dbf0;
}
